*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container{
  font-family: 'Mulish', sans-serif;
}

header{
  width: 100%; height: 90rem;
  background-image: url(/images/backgroudImg.svg);
}